@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Song+Myung&family=Sunflower:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap');


*{
    margin:0;
    padding:0;
    font-family : 'Black Han Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	
}

body{
    background-image : url("../back/pop4.jpg");
    background-repeat : repeat-y;
    background-size : 100% auto;
}

#header{
    height : 450px;
}

#header_nav{   
    background-color:#bbdfff;
    height : 70px;   
    border-bottom : 5px solid #333;     
}

#header_nav_logo{
    display : inline-block;
    margin-left : 10px;
}

#header_nav_logo img{
    display : inline-block;
    height : 70px;
    width : 200px;    
}

#header_nav span{   
    color :rgb(110, 35, 157);
    font-size : 25px;
}

#header_nav_link{
    float:right;
    margin-top : 20px;
}

#header_back{
    width : 100%;
    height : 100%;
    object-fit : cover;
    position : absolute;
}

#search{
    text-align : center;
    position : relative;
    top : 100px;
}

#search #text{
    width : 500px;
    height : 60px;    
    border-radius : 30px;
    border : 10px solid rgb(191, 56, 56);
    font-size : 50px;
    padding : 10px;
    text-align : center;
}

#search #btn{
    margin-top : 10px;
    width : 200px;
    height : 60px;
    border-radius : 30px;
    font-size : 40px;
    background-color : #4713f5;
    border : 8px solid #222;
    color : #f5f525;
}

#search #pick{
    display : inline-block;
    margin : 10px auto;
    background-color : indigo;
    padding : 5px 20px;
    border-radius : 10px;
}

#search #pick .pick_text{
    text-decoration : none;
    color : inherit;
    font-size : 20px;
    color : wheat;

}

#search #btn:hover{
    cursor : pointer;
}

#main{
    text-align : center;
}

.card{
    display : inline-block;
    width : 350px;
    height : 470px;
    margin : 30px;
    padding : 20px;
    border : 5px solid #222;
    border-radius : 20px;
    background-color : wheat;
    color:indigo;
    font-size : 30px;
}

.img{
    width : 100%;
    height : 200px;
    margin-top : 10px;
    border-radius : 20px;
}

.info{
    font-family : Sunflower, Georgia, 'Times New Roman', Times, serif;
    color : black;
    font-size : 25px;  
}

#foot{
    border-top : 5px solid #333;
    height: 100px;
    background-color:#999;
}

#foot pre{
    color : #ccc;
}